# Do NOT ignore key files — they must be committed
# PRIVATE AND PUBLIC KEYS SHOULD BE PUBLIC FOR THIS ASSIGNMENT
# ----------------------------------------------

# Sensitive seed (should NOT be committed)
encrypted_seed.txt
seed.txt

# Python cache
_pycache_/
*.pyc

# Env files
.env

# Editor configs
.vscode/
.idea/